/* Globals */
* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}

/* BEM */
.watch__container {
    max-width: 40rem;
    padding: 2rem 0;
    margin: 40vh auto 0 auto;
    text-align: center;
    
    background-color: #1b5299;
    border-radius: 1rem;
}

/* ID */
#watch {
    font-size: 2.4rem;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}
#hour {
    margin-bottom: .5rem;
}
#date {
    font-size: 1.2rem;
    letter-spacing: .5rem;
    overflow-wrap: normal;
} 